<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>08:30</string>
	<string>09:25</string>
	<string>10:20</string>
	<string>11:20</string>
	<string>12:15</string>
	<string>13:10</string>
	<string>14:05</string>
	<string>15:00</string>
	<string>15:55</string>
	<string>16:50</string>
	<string>17:45</string>
</array>
</plist>
