<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>07:45</string>
    <string>08:40</string>
    <string>09:35</string>
    <string>10:35</string>
    <string>11:30</string>
    <string>12:25</string>
    <string>13:20</string>
    <string>14:15</string>
    <string>15:10</string>
    <string>16:05</string>
    <string>17:00</string>
</array>
</plist>
